<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profil Saya</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>

<body class="bg-gray-100 flex justify-center items-center min-h-screen">
    <div class="bg-white p-6 rounded-lg shadow-lg max-w-md w-full">
        <div class="flex flex-col items-center text-center">
            <img src="/images/foto.png" alt="" class="w-32 h-32 rounded-full shadow mb-4">
            <h2 class="text-2xl font-semibold text-indigo-600">Muhammad Raihan Alghifari</h2>
            <p class="text-gray-600">2211522031</p>
            <p class="text-gray-600">Jurusan: Sistem Informasi</p>
            <p class="text-gray-600">Email: Alghifari2096@gmail.com</p>
        </div>
    </div>
</body>

</html>
